@import "~bootstrap/scss/bootstrap.scss";


.heading{
 font-family: 'Caveat';
 color: #F5EC46;
}

.jumbotron{
  background-image: url(https://cdn.pixabay.com/photo/2016/03/09/09/30/flowers-1245820_1280.jpg); 
  height: 400px;
}


.btn1{
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 40% 
}
 