@import "~bootstrap/scss/bootstrap.scss";


.heading{
 font-family: 'Caveat';
 color: #F5EC46;
}

.jumbotron1{
  background-image: url("https://pixabay.com/images/id-1245820/");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



 